.work {
  height: 100%;
  position: relative;

  font-stretch: expanded;
  .work-heading {
    position: absolute;
    // top: 0;
    z-index: -1;
    // width: 100%;
  }
  h1 {
    color: $color-three;
    font-size: 345pt;
    opacity: 0.3;
  }

  .work-container {
    display: flex;
    // justify-content: center;
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: #fff;
      background: #212121;
      padding: 0.5em 1.5em;
      //   margin-top: 20px;
      text-transform: uppercase;
    }

    .work-item {
      background: #fff;
      // border: 1px solid;
      display: grid;
      height: 300px;
      margin-bottom: 10px;
      padding: 1em;
      place-items: center;
      width: 300px;

      img {
        max-width: 100%;
      }
    }
  }
}
